
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    margin: 2% 3%;
    gap: 4%;
    width: 90%;
   
    
}
.left-container{
    width: 50%;
    
}
.left-container >img{
    width: 80%;
    margin-left: 20%;
}

.right-container{
    
    width: 50%;
    
}
.logo{
    width: 80%;
   
   margin-top: 10%;
   margin-left: 5%;
   
}
.logo >img{
    width: 50%;
    margin-left: 30%;
}
.content{
    
    margin-top: 10px;
    padding: 10px;
}
 h2,h4{
    text-align: center;
}
h4{
   
    font-weight: 300;
}
.formContainer{
    
    width: 50%;
    margin: auto;
   
}
.inputEmail,.inputMobile,.formbutton{
    position: relative;
    width: 100%;
    margin-top: 7px;
    
}
.textName{
    width: 100%;
    height: 40px;
    padding: 5px;
    
}

.formbutton > .textName{
    background-color: black;
    color: white;
    font-size: medium;
}
.formbutton > .textName:hover{
    background-color: rgb(50, 48, 48);
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
      display: block;
    }
    .left-container{
        width: 100%;
       justify-content: center;
    }
    .right-container{
        width: 100%;
        
        margin-left: 3%;
        margin-top: -100px;
        min-height: 500px;

    }
    .formContainer{
        width: 80%;
        min-height: 170px;
       
        
    }
    .inputEmail,.inputMobile,.formbutton{
        position: relative;
        width: 100%;
        min-height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
       
        
    }
    .textName{
        width: 100%;
        height: 45px;
        padding: 5px;
        margin: 5px;
    }
  }
